<h6 class="text-center pt-2 pb-2 d-none d-sm-block">
    <a href="#">ARE YOU A PRIVATE PRACTICE DENTIST? REGISTER HERE...</a>
</h6>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.svg" height="50" width="221.17">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="navbar-toggler-icon"></i>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a style="color:#fff !important" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Learn more
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span class="dropdown-item d-none d-sm-block">
                            <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
                            <p class="text-center">Learn more</p>
                        </span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">I'm a Patient</a>
                        <a class="dropdown-item" href="#">I'm a Dentist</a>
                        <a class="dropdown-item" href="#">Investors</a>
                        <a class="dropdown-item" href="#">Reviews</a>
                        <a class="dropdown-item" href="#">FAQ</a>
                        <a class="dropdown-item" href="#">Contact Us</a>
                    </div>
                </li>
            <li class="nav-item">
                <a  class="btn btn-primary rounded-button btn-lg" href="#">GET STARTED</a >
            </li>
            <li class="nav-item">
              <a style="color:#fff !important;" class="nav-link" href="#"><i class="fa fa-home fa-2x" aria-hidden="false"></i></a>
            </li>
          </ul>
        </div>
    </nav>
</header>